@charset "utf-8";
// Custom SASS Document

.jumbotron {
	padding-top: 5.5em;

	h1 {
		color: $brand-primary;
	}

	.index-content {
		padding-bottom: 3em;

		h1 {
			color: darken($brand-warning, 10%);
		}
	}
}

.blog-post-meta {
	color: darken(red, 10%);
	font-style: italic;
	
}

.blog-index-content {
	padding-left: 1em;
}
.blog-index-img {
	padding-right: 1.3em;
}

.portfolio-item {
	img {
		padding-bottom: 1em;
	}
}